<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="stylesheet" href="/css/form-register-styles.css">
    <link rel="stylesheet" href="/css/form-login-styles.css">

</head>

<body>
    <header>
        <div class="bg-yellow  padding-10 header">
            <section class="top-nav">
                <a href="/" class="logo"> <img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre" /></a>
                <div class="search-bar">
                    <form action="">
                        <label for="">Buscar productos, marcas y mas</label>
                        <input type="text" class="input-search" placeholder="Buscar productos, marcas y mas">
                        <button class="searchbutton">
                            <i class="fas fa-search "></i>
                        </button>
                    </form>
                </div>

                <div class="comprar-cuotas font-cuotas">
                    <p>
                        <i class="fas fa-hand-holding-usd iconos-header"></i>
                        <label for=""> <a href="#">Comprá en cuotas sin tarjeta de crédito</a></label>
                    </p>
                </div>
            </section>
            <nav class="navbar font-navbar">

                <ul class="left-navbar">

                    <li><a href="#" class=" lista-site">Ofertas</a></li>
                    <li><a href="#" class=" lista-site">Tiendas Oficiales</a></li>
                    <li><a href="#" class=" lista-site">Vender</a></li>
                    <li><a href="#" class=" lista-site">Ayuda</a></li>
                </ul>


                <ul class="right-navbar">
                    <li><a href="register" class="lista-login-navbar">Crea tú cuenta</a> <i
                            class="far fa-address-card iconos-header"></i> </i> </li>
                    <li><a href="ingresa" class="lista-login-navbar">Ingresá</a><i
                            class="fas fa-sign-in-alt iconos-header"></i>
                    </li>
                    <li><a href="#" class="lista-login-navbar">Mis compras</a><i
                            class="fas fa-shopping-basket iconos-header"></i></li>
                </ul>
                </section>
            </nav>
            <div class="hamburguer-button">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <main class="main">
        <section>
            <h2 class="font-titles">Basado en tu ultima visita</h2>
            <section class="art-tablet art-desktop">
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$6770</p>
                            <p class="font-descuentos flex-descuentos">40%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Cafetera Moulinex</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$230000</p>
                            <p class="font-descuentos flex-descuentos">20%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Macbook Pro 2019</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$70500</p>
                            <p class="font-descuentos flex-descuentos">10%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Samsung Galaxy S10</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-tv-samsung-smart.jpg" alt='SmarTv Samsung 43"' />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$23200</p>
                            <p class="font-descuentos flex-descuentos">5%off</p>
                            <p class="color-seg-titulo sefundo-titulo">SmarTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>
        </section>
        <section>
            <h2 class="font-titles">Ofertas</h2>
            <section class="art-tablet art-desktop">
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$6770</p>
                            <p class="font-descuentos flex-descuentos">40%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Cafetera Moulinex</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$230000</p>
                            <p class="font-descuentos flex-descuentos">20%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Macbook Pro 2019</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$70500</p>
                            <p class="font-descuentos flex-descuentos">10%off</p>
                            <p class="color-seg-titulo sefundo-titulo">Samsung Galaxy S10</p>
                        </div>
                    </article>
                </div>
                <div class="wrapped">
                    <article class="article">
                        <img src="/images/img-tv-samsung-smart.jpg" alt='SmarTv Samsung 43"' />
                        <div class="caja-general-del-articulo">
                            <i class="fas fa-truck camion-articulos"></i>
                            <p class="font-precio flex-precio">$23200</p>
                            <p class="font-descuentos flex-descuentos">5%off</p>
                            <p class="color-seg-titulo sefundo-titulo">SmarTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer font-small">
        <section class="sections-footer">
            <section class="card">
                <i class="fas fa-credit-card iconos-footer"></i>
                <h2 class="titulos-footer">Paga con tarjeta o efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="shipping">
                <i class="fas fa-gift iconos-footer"></i>
                <h2 class="titulos-footer">Envíos gratis desde $2500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="security">
                <i class="fas fa-user-shield iconos-footer"></i>
                <h2 class="titulos-footer">Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </section>
        <section class="Copyright">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>