* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-register {
  background-color: white;
  width: 100%;
}
.envoltorio {
  padding: 10px;
}
.high-box-input {
  width: 250px;
}
.high-box-input input {
  width: 250px;
  height: 30px;
  padding: 5px;
}
.control-de-formularios {
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: rgba(230, 230, 230);
  border-radius: 10px;
  padding: 10px;
}

.div-form-register {
  width: 250px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.div-form-register input {
  border: black;
  border-radius: 5px;
}
.div-form-register:hover input {
  background-color: #1259c362;
  color: white;
}
.div-form-register h3 {
  margin-bottom: 10px;
  color: #000000bc;
}

.divs-checbox-register {
  margin-bottom: 15px;
}
.label-screen-reader {
  display: none;
}
.date-regiter {
  display: flex;
  flex-wrap: wrap;
}
.date-regiter label {
  width: 100%;
  margin-bottom: 5px;
}
.com-ven-register {
  display: block;
}
.input-img-register {
  width: 100%;
}
.password-register label,
.password-register input {
  display: block;
}

.button-register {
  width: 250px;
  margin-left: 10%;
  display: flex;
}
.button-register .button-send {
  margin-right: 130px;
}
.button-register button {
  background-color: #1259c3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
.button-register button:hover {
  background-color: #0022aa;
}
@media (min-width: 1024px) {
  .div-form-register {
    width: 350px;
  }
  .high-box-input input {
    transition-property: width;
    transition-duration: 2s;
  }
  .high-box-input input {
    width: 350px;
  }

  .button-register {
    width: 350px;
  }

  .button-delete {
    transition-property: margin-left;
    transition-duration: 2s;
  }
  .button-delete {
    margin-left: 100px;
  }
}
