@media (min-width: 1024px) {
  /*          //////          header       ////// */

  .left-navbar {
    padding-right: 10px;
  }
  .right-navbar {
    padding-left: 10px;
  }
  .right-navbar li {
    margin-left: 20px;
  }
  /*
          //////          main         //////
  
*/
  .wrapped {
    width: 25%;
    padding: 10px;
  }
  .caja-general-del-articulo {
    box-shadow: none;
  }
  .article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .sefundo-titulo {
    display: none;
  }
  .wrapped:hover .sefundo-titulo {
    display: flex;
  }
  .wrapped .camion-articulos {
    transition: transform 0.5s;
  }

  .wrapped:hover .camion-articulos {
    transform: rotate(-90deg);
  }
  .font-navbar,
  .font-cuotas,
  .footer {
    font-size: 12.5px;
  }
  .sections-footer {
    display: flex;
  }
  .card,
  .shipping,
  .security {
    padding: 10px;
  }
  .sections-footer i:hover {
    color: #0022aa;
  }
}
@media (min-width: 1280px) {
  .font-navbar,
  .font-cuotas,
  .footer {
    font-size: 16px;
  }
  .logo,
  .comprar-cuotas {
    width: 20%;
  }
  .search-bar {
    width: 60%;
  }
}
